{% extends 'base.html' %}

{% block content %}	
	<h1>Report Form:</h1>

    

	 <form method="POST">
        {{ form.csrf_token }}

        {% for field in form %}
            {% if field.type != 'CSRFTokenField' and field.type != 'SubmitField' %}
                <div>
                        {{ field.label }} {{ field }}

                    {% if field.errors %}
                        <ul class="errors">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}

        {{ form.generate }}



    <div class="groups-container">

    {% for group in optimized_groups_list %}
        <div class="column">

        <h3>Group {{loop.index-1}}</h3>

        <ul>
        {% for science, count in metrics[loop.index-1]['sciences'].items() %}
            <li>{{science}} {{count}}</li>
        {% endfor %}
        </ul>

        <h4>Students</h4>

        <ul>
        {% for student in group %}
            <li>{{student.name}}</li>
        {% endfor %}
        </ul>

        </div>

    {% endfor %}

    </div>

    {% if optimized_groups_list %}
        {{ form.submit }}
    {% endif %}

    </form>


{% endblock %}
